* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--green);
}

a:visited,
a:focus {
    outline: none;
}


:root {
    --shaded: rgba(198, 229, 209, 0.2);
    --bg-dark: rgba(131, 184, 150, 0.44);
    --green: #49805C;
    --px: 300px;
    --spx: 500px;
    --title: 'Neucha', cursive;
    --raleway: 'Raleway', sans-serif;
    --gray: #C2C2C2;
    --text-gray: #767474;
}

@media (min-width: 450px) and (max-width: 900) {
    :root {
        --px: 100px;
    }
}

@media (max-width:439px) {
    :root {
        --px: 20px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:active {
    background: #555;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px var(--px);
    border-bottom: solid 1px var(--gray);
}

.logo {
    font-family: var(--title);
    color: var(--green);
    font-size: 3rem;
}

.nav-link--wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.topbar-profile {
    display: flex;
    align-items: center;
    border-left: solid 1px var(--gray);
    padding-left: 2.5rem;
}

.link {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.compose-button {
    font-weight: 500;
    font-size: 16px;
    border: solid 1px var(--green);
    padding: 10px 32px;
    border-radius: 24px;
}

.home-header {
    display: flex;
    align-items: center;
    padding: 100px var(--px);
    background-color: var(--shaded);
    background-image: url("./../assets/splash.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-header--title {
    font-family: var(--title);
    font-size: 3rem;
    margin-bottom: 3rem;
}

.quill {
    font-family: inherit;
    background-color: var(--bg-dark);
    padding: 2px 6px;
    border-radius: 12px;
}

.home-header--subtitle {
    font-size: 24px;
    font-family: var(--title);
}

.button-outlined {
    width: fit-content;
    outline: none;
    border: solid 1px var(--green);
    background-color: white;
    font-weight: 500;
    padding: 10px 48px;
    font-size: 18px;
    color: var(--green);
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px var(--green);
}

.button-outlined:hover {
    box-shadow: 4px 4px 4px 0px var(--green);
    transform: translate(0px, -1px);
}

.stories-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 var(--px);
}

.home-story {
    margin-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    border-bottom: solid 1px var(--gray);
    gap: 3rem;
    flex-wrap: wrap;
}

.story-img {
    width: 300px;
    height: 300px;
}

.story-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.story-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.story-category {
    border: solid 1px var(--green);
    color: var(--green);
    border-radius: 100px;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
}

.story-mins {
    font-size: 14px;
    color: var(--text-gray);
}

.story-title {
    font-size: 32px;
    font-weight: 600;
    margin: 1rem 0px;
}

.story-content {
    line-height: 30px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 90px
}

.story-content > a {
    color: var(--green);
    cursor: pointer;
}

.story-content > a:hover {
    color: var(--green);
    text-decoration: underline;
}

.story-footer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.story-user-image {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    margin-right: 10px;
    object-fit: cover;
}

.story-user-name {
    font-weight: 500;
    font-size: 18px;
}

.story-dot {
}

.story-time {
    color: var(--text-gray);
    font-weight: 500;
}

.story-likes {
    color: var(--text-gray);
}

.register-body {
    background-image: url("../assets/splash.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.register-container {
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.register-form {
    max-width: 600px;
    margin: 0 auto;
}

form {
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: 500;
}

.form-link {
    color: var(--green);
}

.form-link:hover {
    text-decoration: underline;
}



/* .register-container.glassmorphic {
}

.glassmorphic-text {
    margin: 30px 0px;
    font-weight: 500;
    color: #111; /* Adjust text color for better visibility */
/* }

.glassmorphic-button-container {
    text-align: center;
    margin-top: 2rem;
}

.button-outlined.glassmorphic-button {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

.button-outlined.glassmorphic-button:hover {
    background: rgba(255, 255, 255, 0.5);
} */

 */






.back-home {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    /* padding: 0 var(--spx); */
    margin: 3rem 0px;
    cursor: pointer
}

.back-home:hover {
    text-decoration: underline;
}

.story {
    display: flex;
    flex-direction: column;
}

.story-head {
    display: flex;
    margin-bottom: 2rem;
}

.story-head-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1rem;
}

.story-head-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-left: auto;
}

.story-img-lg {
    width: auto;
    height: 425px;
    object-fit: cover;
}

.likes-row {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.story-content-lg {
    line-height: 34px;
    font-size: 18px;
}

.story-content-lg > a {
    color: var(--green);
    cursor: pointer;
}

.story-content-lg > a:hover {
    color: var(--green);
    text-decoration: underline;
}


.story-divider {
    margin: 0 var(--px);
    margin-top: 5rem;
    padding-top: 3rem;
    border-top: solid 1px var(--gray);
    font-weight: 600;
    font-size: 24px;
}

.profile {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;

}

.edit-profile-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    gap: 0.5rem;
}

.profile-picture-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    width: 360px;
    height: 360px;
    background-image: url("../assets/profile_placeholder.png");
    background-size: contain;
    object-fit: cover;
    border-radius: 180px;
    border: solid 1px var(--text-gray)
}

.file-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.file-input {
    display: none;
}

.choose-image-button {
    color: var(--green);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.choose-image-button:hover {
    color: darkgreen;
}

.compose {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.write-container {
    padding: 0px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: solid 1px var(--gray);
}

.input-field {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #4CAF50;
}

.textarea-field {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 16px;
    resize: none;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    rows: 8;
    line-height: 30px;
}

.textarea-field:focus {
    border-color: #4CAF50;
}

.content-field {
    width: 100%;
    padding: 10px 0;
    min-height: 180px;
    max-height: 500px;
    height: fit-content;
    border: none;
    border-bottom: 2px solid #ddd;
    margin: 20px 0px;
    font-size: 16px;
    resize: none;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    line-height: 30px;
    overflow: auto;
}

.content-field > a {
    color: var(--green);
}

.content-field > a:hover {
    color: var(--green);
    text-decoration: underline;
}

.content-field:focus {
    border-color: #4CAF50;
}

.category-dropdown {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.category-dropdown:focus {
    border-color: #4CAF50;
}

.compose-image-container {
    width: 100%;
    padding: 40px;
}

.compose-image {
    width: 100%;
    height: 425px;
    border: solid 1px var(--gray);
    object-fit: contain;
    background-color: var(--raleway);
}

.like-button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.search-wrapper {
    border: solid 1px var(--gray);
    padding: 1rem 2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.search-input {
    border: none;
    background-color: inherit;
    flex: 1;
    font-size: 20px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: transparent;
    border: none;
    color: var(--text-gray);
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: -4px;
}

.search-button:hover {
    color: black;
}

.clear-button {
    background-color: transparent;
    border: none;
    color: var(--text-gray);
    cursor: pointer;
    margin-bottom: -4px;
}

.clear-button:hover {
    color: black;
}

.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home-dropdown {
    appearance: none;
    background: #f0f0f0;
    border: none;
    border-radius: 30px;
    padding: 1rem 2rem;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    outline: none;
    color: #333;
    transition: all 0.3s, color 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.);
}

.home-dropdown:hover {
    background: #e0e0e0;
}

.home-dropdown:focus {
    background: #d0d0d0;
}

.home-dropdown option {
    background: #fff;
}

.page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem 2rem;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    border: solid 1px var(--green);
    outline: none;
    cursor: pointer;
    color: var(--green);
}

.page-button:hover {
    color: black;
}

.page-button:disabled {
    border-color: #bdc3c7;
    background-color: #eee;
    color: #7f8c8d;
    cursor: auto;
}

.editor-group {
    display: flex;
    padding: 10px 1rem;
    border: solid 1px #D6D6D6;
    background-color: #fff;
    gap: 10px;
    border-radius: 10px;
    width: fit-content;
}

.editor-button {
    border: none;
    background-color: #D6D6D6;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.editor-button:hover {
    background-color: var(--gray);
}

.category-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid 1px var(--gray);
    padding: 3rem;
}

footer {
    background-color: #fefefe;
    border-top: solid 1px var(--gray);
    height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.login-message {
    color: red;
}
